#intro-section {
  background: #b0bec5;
  padding-top: 15%;
  padding-bottom: 15%;
  min-width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

#about-section {
/*   min-height: 50vh; */
}

#projects-section {
  background: #808e95;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
/*   min-height: 75vh; */
}

#projects-section img {
  width:100%;
  height: 350px;
  object-fit: contain;
/*   margin: 0 35px; */
}

#projects-section .btn-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

#projects-section .row {
  margin-bottom: 60px;
}

#contact-section {
/*   min-height: 50vh; */
}

#contact-section h3 {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*padding-top: 5rem;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
 /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Style all font awesome icons */
.fa {
/*     padding: 20px; */
    margin: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
/* .fa:hover {
    opacity: 0.7;
} */

/* Set a specific color for each brand */

/* Contact buttons */
.social-btn-group {
  padding:30px;
}

.social-btn-group a {
  color: #333;
}

.social-btn-group a i:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social-btn-group a i {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
    Multicolored Hover Variations
*/

#social-gh:hover {
  color: #333;
}

#social-li:hover {
  color: #0077B5;
}

#social-tw:hover {
  color: #4099FF;
}

#social-gp:hover {
  color: #d34836;
}

#social-em:hover {
  color: #f39c12;
}